- hosts: web
  become: yes

  tasks:

    - name: Update packages
      dnf:
        name: "*"
        state: latest

    - name: Install Docker
      dnf:
        name: docker
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Deploy nginx container
      shell: |
        docker rm -f web || true
        docker run -d -p 80:80 --name web nginx
